vintage-story/server/
vintage-story/backups/

valheim/config/
valheim/data/
valheim/Valheim/

satisfactory/config

reverse-proxy/data

medias/jellyfin/
medias/torrent/
medias/deluge/
medias/downloads/

seafile/data/
seafileold/data/
.env